<ion-header>
  <ion-toolbar color="cpsRed">
    <ion-title color="cpsWhi">
      Etec de Ibitinga
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/alunos/8.jpg" alt="/assets/alunos/11.jpg" />
      <ion-card-header>
        <ion-card-title>Bem-vindo(a)</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>insira alguma descrição de boas vindas aqui.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://etecnewsibitinga.wixsite.com/etecnewsibitinga">
        <ion-icon slot="start" color="medium" name="journal"></ion-icon>
        <ion-label>Etec News Ibitinga</ion-label>
      </ion-item>
      <ion-item href="https://pt-br.facebook.com/etecdeibitinga/">
        <ion-icon slot="start" color="medium" name="logo-facebook"></ion-icon>
        <ion-label>Etec de Ibitinga</ion-label>
      </ion-item>
      <!--<ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>-->
    </ion-list>
</ion-content>
