<ion-header>
  <ion-toolbar color="cpsRed">
    <ion-title color="cpsWhi">
      Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--/*card em construção*/
  <ion-card class="welcome-card">
    <img src="/assets/kitten.jpg" alt="/assets/P.jpg"/>
    <ion-card-title>
      pagina em construção enquanto isso veja esse gatinho
    </ion-card-title>
  </ion-card>
  /*fim card em construção*/-->
  
  <ion-card>
    <ion-car-title>
      {{ titleArt }}
    </ion-car-title>
    <ion-label>
      {{ descriptionArt }}
    </ion-label>
  </ion-card>
</ion-content>
