// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
.ion-color-cpsRed {
    --ion-color-base: #B01217;
    --ion-color-base-rgb: 176, 18, 23;
}
.ion-color-cpsBlack {
    --ion-color-base: #000000;
    --ion-color-base-rgb: 0, 0, 0;
}
.ion-color-cpsGray {
    --ion-color-base: #808183;
    --ion-color-base-rgb: 128, 129, 131;
}
.ion-color-cpsWhite {
    --ion-color-base: #FFFFFF;
    --ion-color-base-rgb: 255, 255, 255;
}
.ion-color-cpsEtec {
    --ion-color-base: #4A555C;
    --ion-color-base-rgb: 74, 85, 92;
}