<ion-header>
    <ion-toolbar color="cpsRed">
        <ion-buttons>
            <ion-back-button defaultHref="home">
            </ion-back-button>
            <ion-menu-button>
            </ion-menu-button>
            <ion-title color="cpsWhite">
                Fotos dos Alunos
            </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src="../../assets/alunos/1.jpg">
    </ion-card>
    <br>
    <ion-card>
        <img src="../../assets/alunos/2.jpg">
    </ion-card>
    <br>
    <ion-card>
        <img src="../../assets/alunos/3.jpg">
    </ion-card>
    <br>
    <ion-card>
        <img src="../../assets/alunos/4.jpg">
    </ion-card>
    <br>
    <ion-card>
        <img src="../../assets/alunos/5.jpg">
    </ion-card>
    <br>
    <ion-card>
        <img src="../../assets/alunos/6.jpg">
    </ion-card>
    <br>
    <ion-card>
        <img src="../../assets/alunos/7.jpg">
    </ion-card>
    <br>
    <ion-card>
        <img src="../../assets/alunos/8.jpg">
    </ion-card>
    <br>
    <ion-card>
        <img src="../../assets/alunos/9.jpg">
    </ion-card>
    <br>
    <ion-card>
        <img src="../../assets/alunos/10.jpg">
    </ion-card>
    <br>
    <ion-card>
        <img src="../../assets/alunos/11.jpg">
    </ion-card>
    <br>
    <ion-card>
        <img src="../../assets/alunos/12.jpg">
    </ion-card>
    <br>
    <ion-card>
        <img src="../../assets/alunos/13.jpg">
    </ion-card>
    <br>
    <ion-card>
        <img src="../../assets/alunos/14.jpg">
    </ion-card>
    <br>
    <ion-card>
        <img src="../../assets/alunos/15.jpg">
    </ion-card>
    <br>
    <ion-card>
        <img src="../../assets/alunos/16.jpg">
    </ion-card>
    <br>
</ion-content>
