/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* new colors */

/* red */
.ion-color-cpsRed {
    --ion-color-base: #B01217;
    --ion-color-base-rgb: 176, 18, 23;
}
/* black */
.ion-color-cpsBlack {
    --ion-color-base: #000000;
    --ion-color-base-rgb: 0, 0, 0;
}
/* ducked up blue */
.ion-color-cpsIdk {
    --ion-color-base: #4A555C;
    --ion-color-base-rgb: 74, 85, 92;
}
/* white */
.ion-color-cpsWhite {
    --ion-color-base: #FFFFFF;
    --ion-color-base-rgb: 255, 255, 255;
}
/* gray */
.ion-color-cpsGray {
    --ion-color-base: #808183;
    --ion-color-base-rgb: 128, 129, 131;
}