<ion-header>
  <ion-toolbar>
    <ion-title>Local Json in Ionic 4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let item of data">
    <ion-card-title>
      {{item.name}}
    </ion-card-title>
    <ion-card-subtitle>
      {{item.description}}
    </ion-card-subtitle>
    <p>
      {{item.link}}
    </p>
  </ion-card>

  <br>

  <ion-card *ngFor="let item of data">
    <ion-card-title>
      {{item.articles.title}}
    </ion-card-title>
    <p>
      {{item.articles.description}}
    </p>
  </ion-card>
</ion-content>